/* You can add global styles to this file, and also import other style files */

.grid {
background-color: blueviolet;

}

.button-color{
  background: orange;
  border-color: orange;
  float: right;
}

label {
  text-size-adjust: 20px;
}
