<div class="container px-4" style="margin-top: 150px;">
  <div>
    <label>
      Cadastro Pessoa
    </label>
    <div class="row g-2">
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="Nome" aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="Sobrenome" aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="Data nasc." aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="Profissão" aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="Documento" aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="E-mail" aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="Endereço" aria-label="First name">
        </div>
      </div>
      <div class="col-6 grid">
        <div class="p-3 border bg-light">
          <input type="text" class="form-control" placeholder="CEP" aria-label="First name">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary button-color">Primary</button>
  </div>
</div>
